<mat-toolbar style="background-color: #6503ac">
    <span class="brand"><a routerLink="/">X-Violet App</a></span>
    <span class="spacer"></span>

    <ul>
        <li>
            <a mat-button routerLink="/">Posts</a>
        </li>

        <li *ngIf="isUserAuthenticated">
            <a mat-button routerLink="/create">Create Post</a>
        </li>

        <li *ngIf="!isUserAuthenticated">
            <a mat-button routerLink="/login">Login</a>
        </li>

        <li *ngIf="!isUserAuthenticated">
            <a mat-button routerLink="/signup">Sign Up</a>
        </li>

        <li *ngIf="isUserAuthenticated" class="list-btn--signOut">
            <a>
                <button mat-button class="btn-signOut" type="button" (click)="logOut()">
          Sign Out
        </button>
            </a>
        </li>
    </ul>
</mat-toolbar>