.spacer {
    flex: 1 1 auto;
}

ul {
    list-style: none;
    margin-right: 3rem;
}

li {
    margin-left: 1rem;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

.brand a {
    color: white;
}

.list-btn--signOut a {
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
    cursor: pointer;
}