<mat-card>
    <form (submit)="onSubmit(createForm)" #createForm="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Title" type="text" name="title" #title="ngModel" [ngModel]="post?.title" required minlength="3" />
            <mat-error *ngIf="title.invalid">
                <p>title must be atleast 3 charachters long</p>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <textarea matInput placeholder="Content" #content="ngModel" name="content" [ngModel]="post?.content" required minlength="15"></textarea>
            <mat-error *ngIf="content.invalid">
                <p>content must be atleast 15 charachters long</p>
            </mat-error>
        </mat-form-field>

        <button class="Submit-btn" [disabled]="createForm.invalid" mat-raised-button color="primary" type="submit">
      Submit
    </button>
    </form>
</mat-card>