mat-form-field {
    width: 100%;
    margin-top: 0.6rem;
}

mat-card {
    width: 60%;
    margin: auto;
    background-color: rgb(68, 68, 68);
    padding: 2rem;
    border-radius: 0.7rem;
}

.Submit-btn {
    margin-top: 1rem;
}
