.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-expansion-panel {
    width: 65%;
    margin: auto;
}

.image-container {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.image-container img {
    width: 20rem;
    margin: auto;
}

mat-expansion-panel {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
}

mat-expansion-panel p {
    width: 80%;
    margin: auto;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    margin-top: 0.4rem;
}

mat-expansion-panel-header {
    background-color: #4b0082 !important;
    color: white;
}

mat-expansion-panel-header p {
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
}

mat-accordion {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

mat-paginator {
    width: 65%;
    margin: 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
